/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
  
    
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
 .featured-list #grid .thumb {
	  width: 50%;
	}
	
	.carousel-caption h1 {
	  font-size: 15px;
	  text-transform: uppercase;
	  line-height:auto !important;
	}
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
	.featured-list #grid .thumb {
	  width: 60%;
	}
	.carousel-caption {
	  top: 5px;
	}
	
	.carousel-caption h1 {
	  font-size: 15px;
	  text-transform: uppercase;
	  line-height:auto !important;
	}
	
	.btn.btn-learn {
	  font-size: 16px;
	  font-weight: 500;
	  padding: 5px 7px;
	  text-align: center;
	  text-transform: uppercase;
	}
	.btn.btn-support {
		font-size: 16px;
		font-weight: 500;
		padding: 5px 7px;
		text-align: center;
		text-transform: uppercase;
	  }
	  .btn.btn-maturidade {
		font-size: 16px;
		font-weight: 500;
		padding: 5px 7px;
		text-align: center;
		text-transform: uppercase;
	  }
	  .btn.btn-excelencia {
		font-size: 16px;
		font-weight: 500;
		padding: 5px 7px;
		text-align: center;
		text-transform: uppercase;
	  }
	
	.about-text{
		text-align:center;
		padding: 0 20px 0 20px
	}
	.owners {
		display:flex;
		flex-direction: column;
	}
	.blog-board {
		display:flex;
		flex-direction: column;
	}


	.single-feature{
		text-align:center;
	}
	
	.feature-icon{
		margin-bottom:8px;
	}
	
	.feature-text h4{
		line-height:25px;
	}
	.about-image{
		max-width: 100%;
		display:flex;
		justify-content: center;
		align-items:center
	}
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 
	.featured-list #grid .thumb {
	  width: 50%;
	}
	
	.carousel-caption {
	  top: 5px;
	}
	
	.carousel-caption h1 {
	  font-size: 15px;
	  text-transform: uppercase;
	  line-height:auto !important;
	}
	
	.btn.btn-learn {
	  font-size: 10px;
	  font-weight: 500;
	  padding: 5px 7px;
	  text-align: center;
	  text-transform: uppercase;
	}
	
	.about-text{
		text-align:center;
	}
	
}